.left-container {
    background: beige;
    position: fixed;
    overflow-y: auto;
    height: 100%;
}
.right-container {
    width: 74%!important;
    position: absolute;
    margin-left: 25%;
    overflow: auto;
}
.home-container {
    margin-top: 4% !important;
}
.home-container .card {
    background-color: #f38d6f!important;
}
.navbar .search-box{
    width: 400px;
}
.right-container .card-body {
	max-height: 350px;
    overflow: auto;
}

.right-container .card-body .card-text {
	width: 300px
}
.dropdown-menu {
	display: block;
    width: 400px;
    max-height: 250px;
}